th:first-child
{
  position:sticky;
  left:0px;
  background-color:#343a40;
  color: white;
}

td:first-child
{
  position:sticky;
  left:0px;
  font-weight: bold;
  background-color: lightgray;
  color: black;
}
